* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(48, 145, 148);
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 15px;
    background-color: rgb(48, 145, 148);
    width: 500px;
}
section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label {
    color: #f5f5f5;
    font-size: 17px;
    margin-bottom: 4px;
}
form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus {
    border-radius: 16px;
}
form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
form textarea:focus {
    border-radius: 16px;
}
form button {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid white;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
}
form button:hover {
    background-color: white;
    color:  rgb(48, 145, 148);
    border-radius: 16px;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:  rgb(48, 145, 148);
    flex-direction: column;
}
.text {
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
}
.paragrafo {
    color:white;
    margin: 50px;
}
.btn {
    padding: 15px 50px;
    background-color: white;
    text-decoration: none;
    color: rgb(48, 145, 148);
    font-size: 18px;
    transition: all 0.5s;
}
.btn:hover {
    border-radius: 16px;
}
